In [3]:
import pandas as pd
df = pd.read_csv('taipei_year_102-111.csv')
taipei_year = df[['平均氣溫[0C]','平均相對溼度[%]','日照時數[小時]','降水量[毫米]','降水日數[日]']]
taipei_year

   平均氣溫[0C]  平均相對溼度[%]  日照時數[小時]  降水量[毫米]  降水日數[日]
0      23.4         70     105.1    211.8       13
1      23.5         72     111.0    178.9       12
2      23.8         75     108.9    209.9       12
3      24.0         74     106.9    202.6       16
4      23.9         71     103.1    195.0       14
5      23.9         71     116.8    135.1       13
6      24.1         76     108.4    197.5       13
7      24.2         74     112.7    141.9       13
8      24.1         76     141.0    159.0       10
9      23.5         78     112.3    221.4       14

In [4]:
taipei_year.corr() #pearson相關係數

           平均氣溫[0C]  平均相對溼度[%]  日照時數[小時]   降水量[毫米]   降水日數[日]
平均氣溫[0C]   1.000000   0.256515  0.335440 -0.538209 -0.050113
平均相對溼度[%]  0.256515   1.000000  0.365107  0.235734 -0.108219
日照時數[小時]   0.335440   0.365107  1.000000 -0.509689 -0.707023
降水量[毫米]   -0.538209   0.235734 -0.509689  1.000000  0.370929
降水日數[日]   -0.050113  -0.108219 -0.707023  0.370929  1.000000